<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Jersey Servlet Container</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
<!--      package with rest classes and resources-->
      <param-name>jersey.config.server.provider.packages</param-name>
<!--      package in my project that requires those-->
      <param-value>contact.registry.webservice</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Servlet Container</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

    <resource-ref>
        <description>Contact Database</description>
        <res-ref-name>jdbc/contactsDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
